<%- include('common/header',{title:'Home'}) %>

<div class="container mt-4">
  <h1 class="mb-4">Search for Recipe</h1>
  <!-- Form to search for recipes -->
  <form action="/recipe" method="POST">
    <div class="input-group mb-3">
      <input
        type="text"
        name="recipeName"
        class="form-control"
        placeholder="Enter recipe name"
      />
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>

<%- include('common/footer') %>
