<%- include('common/header',{title:'Home'}) %>

<!-- Form to search for recipes -->
<div class="full-screen-image d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-8">
        <h1 class="text-white mb-2">
          Unleash your inner chef with our recipe finder !!
        </h1>
        <!-- HTML form -->
        <form action="/recipe" method="POST" class="mb-3">
          <div class="input-group">
            <input
              type="text"
              name="recipeName"
              class="form-control"
              placeholder="Enter recipe name"
              required
            />
            <div class="input-group-append">
              <button type="submit" class="btn">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md"></div>
    </div>
  </div>
</div>

<%- include('common/footer') %>
