/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&family=Tilt+Prism&display=swap');

/* Setting  styles for the body */
body {
  background-color: #ebb922;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Styling for the header */
.header {
  background-color: #000000;
}

/* Styling for headings text(DishDiscover) */
.heading-txt {
  color: white;
  font-family: 'Tilt Prism';
  font-size: 36px;
}

/* hover effect for headings text(DishDiscover) */
.heading-txt:hover {
  color: #ebb922;
}

/* for banner image on landing page */
.full-screen-image {
  background-image: url('../images/recipe-banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;

}

/* Styling for h1 tags */
h1 {
  text-align: center;
  font-family: 'Sorts Mill Goudy';
  font-size: 35px;
  font-weight: 600;
}

/* Styling for h2, h3, h4, and h5 tags */
h2,
h3,
h4,
h5 {
  font-family: 'Sorts Mill Goudy';
  font-weight: 600;
}

/* Styling for elements with card-color class */
.card-color {
  color: white;

  background-color: #f4efd7;
}

.card-title {
  color: #000000;
  font-weight: 600;
}

.card-text {
  color: black;
}

/* Styling for elements with recipe-card-title class */
.recipe-card-title {

  text-align: center;
  overflow: hidden;
  /* Hide overflowing text */
  white-space: nowrap;
  /* Prevent text wrapping */
  text-overflow: ellipsis;
  /* Show ellipsis (...) for overflowed text */
}

.store-card-title {
  overflow: hidden;
  /* Hide overflowing text */
  white-space: nowrap;
  /* Prevent text wrapping */
  text-overflow: ellipsis;
  /* Show ellipsis (...) for overflowed text */
}

/* Styling for buttons */
.btn {
  color: rgb(0, 0, 0);
  background-color: #ebb922;
}

/* Hover effect for buttons */
.btn:hover {
  color: white;
  background-color: black;
}

.table-card {
  background-color: #ffda45;
}

/* Styling for tables */
.table {
  --bs-table-bg: #ffda45;
  --bs-table-color: rgb(0, 0, 0);
}

/* Styling for links within table cells */
td a {
  color: rgb(0, 0, 0);
}

/* Hover effect for links within table cells */
td a:hover {
  color: #2c0000;
}