@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&family=Tilt+Prism&display=swap');

body {
  background-color: #F5F5DC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card-color {
  color: white;
  background-color: rgb(123, 76, 123);
}

.table {
  --bs-table-bg: rgb(123, 76, 123);
  --bs-table-color: white;
}

.heading-txt {

  color: white;
  font-family: 'Tilt Prism';
  font-size: 36px;
}

.heading-txt:hover {

  color: #F5F5DC;
}

.header {
  background-color: rgb(56, 0, 56);
}

h1 {
  /* text-align: center; */
  color: #0c0c0c;
  font-family: 'Sorts Mill Goudy';
  font-size: 35px;
  font-weight: 600;
}

h2,
h3 {
  font-weight: 600;
  font-family: 'Sorts Mill Goudy';
  font-weight: 700;
}

.recipe-card-title {
  /* color: white; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* CSS for the card link */
.card-link {
  text-decoration: none;

}

